.card{
	width: 180px;
	height: 240px;
	border-radius: 7px;
	border: solid 2px #34495e;
	margin: 20px;
	display: inline-block;
	background-color: #FFF;
}
.value{
	padding-left: 16px;
	height: 52px;
	font-size:36px;
	line-height: 52px;
	text-align: left;
}
.suit{
	margin-left: auto;
	margin-right: auto;
	width: 101px;
	height: 136px;
}

.heart{
	background-image: url("img/heart.png");
	background-repeat: no-repeat;
    background-size: contain;
}

.spade{
	background-image: url("img/spade.png");
	background-repeat: no-repeat;
    background-size: contain;
}	
.club{
	background-image: url( "img/club.png");
	background-repeat: no-repeat;
    background-size: contain;
}
.diamond{
	background-image: url("img/diamond.png");
	background-repeat: no-repeat;
    background-size: contain;
}

.rotatedValue{
	float:right;
	height: 52px;
	padding-right: 16px;
	font-size: 36px;
	line-height: 52px;
}

.hidden{
	display:none;
}

#setName{
	display: block;
}

#gameRoom{
	display:none;
}
#gameTable{
	position: fixed;
	bottom: 0;
	text-align: center;
	height: 400px;
	overflow-y: scroll;
	background-color: #27ae60;
}