.card{
	width: 240px;
	height: 320px;
	border-radius: 7px;
	border: solid 2px #34495e;
	margin-bottom: 20px;
}
.value{
	padding-left: 20px;
	height: 70px;
	font-size:48px;
	line-height: 70px;
}
.suit{
	margin-left: auto;
	margin-right: auto;
	width: 135px;
	height: 180px;
}

.heart{
	background-image: url("img/heart.png");
	background-repeat: no-repeat;
    background-size: contain;
}

.spade{
	background-image: url("img/spade.png");
	background-repeat: no-repeat;
    background-size: contain;
}	
.club{
	background-image: url( "img/club.png");
	background-repeat: no-repeat;
    background-size: contain;
}
.diamond{
	background-image: url("img/diamond.png");
	background-repeat: no-repeat;
    background-size: contain;
}

.rotatedValue{
	float:right;
	height: 70px;
	padding-right: 20px;
	font-size: 48px;
	line-height: 70px;
}

.hidden{
	display:none;
}

#setName{
	display: block;
}

#gameRoom{
	display:none;
}
